<!-- templates/partials/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-briefcase"></i> Job Portal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'job_list' %}">Find Jobs</a>
                </li>
                
                {% if user.is_authenticated %}
                    {% if user.user_type == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i> Admin Dashboard
                            </a>
                        </li>
                    {% elif user.user_type == 'company' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'company_dashboard' %}">
                                <i class="fas fa-building"></i> Company Dashboard
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'my_applications' %}">
                                <i class="fas fa-file-alt"></i> My Applications
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'saved_jobs' %}">
                                <i class="fas fa-heart"></i> Saved Jobs
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user-circle"></i> {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'jobseeker_profile' %}">
                                <i class="fas fa-user"></i> Profile
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success text-white ms-2 px-3" href="{% url 'jobseeker_register' %}">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light ms-2 px-3" href="{% url 'company_register' %}">
                            Employer Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

